__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule

blog.db

app/static/uploads/

.vscode/
.idea/
*.swp
*.swo
nbproject/ # Netbeans
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
Desktop.ini

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover

logs/
*.log

.env

.scannerwork/

dist/
build/
*.egg
*.tar.gz
*.whl

.ipynb_checkpoints
